{
    "test_guild_id": "",
    "log_path": "logs/eggsplode.log",
    "log_bytes": 5242880,
    "log_backups": 99,
    "restart_command": "",
    "update_command": "git fetch && git pull && pip install --upgrade -r requirements.txt && echo 'Done!'"
}
